.main{
background:url(gradent2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
div.left{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: minmax(200px,auto);   
    grid-template-areas: "navbar mainContent";
    grid-gap: 10px; 
}
nav#navbar{
    grid-area: navbar;
    position: fixed;
}
nav#navbar a{
    padding:50px;
    text-decoration: none;
} 
nav#navbar a h3{
    font-size: 30px;
    width: 20rem;
    text-align: center;
    display: block;
    border: 1px solid black;
    padding:10px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}
main#maindoc{
    grid-area: mainContent;
    margin-left: 200px;
}
p{
    font-size: 40px;
}
li{
    font-size: 45px;
    font-weight: 600;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
