div.center{
    margin: 200px 500px;
    background-color: chartreuse;
    padding-left: 6px;
    width: 210px;
    border: 1px solid black;
}
input{
    padding-left: 10px;
}
input.btn{
    background-color: aqua;
    margin: 6px;
    padding: px 6px;
}
 form input.btn :hover{
    color: black;
}
