*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.navbar {
    display: flex;
    width: 88%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 15px;
}
.navbar ul li a{
   text-decoration: none;
   color: rgb(110, 235, 85);
   font-size: 20px;
}
.navbar ul li a:hover{
    background-color: rgb(48, 71, 90);
}
.logo{
    width: 70px;
    cursor: pointer;
}
.content{
    width: 100%;
    position:absolute;
    top: 25%;
    padding: 20px;
}
.leftcol{
    float: left; 
}
.leftcol h1{
    font-size: 90px;
    color: rgb(164, 200, 231);
    line-height: 120px;
    float: left;
    margin-left: 6%;
}
.rightcol{
    float: right;
    margin-right: 20%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.rightcol h3{
    font-size: 28px;
    /* margin-right: 150px; */
}
#icon{
    cursor: pointer;
}